
   .topnav {
    
    color: black;
    margin-right: 70px;
    padding: 5px 30px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
 
    .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .section{
      height: 700px;
      width: 100%;
  }

  #mainleft{
    height: 650px;
      width: 40%;
      float: left;
      margin-top: 20px;
  }
  #mainright{
      width: 40%;
      margin-top: 20px;
      float: right;
  }
  #mainright img{
    height: 80%;
    width: 90%;
  }

  #mainleft h1{
    font-size: 80px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    margin-left: 5%;
    color: #363958;
  }

  #mainleft p{
    margin-left: 5%;
    margin-top: -67px;
    font-family: 'Roboto', sans-serif;

  }
  .colorize{
    color: #F59660;
  }

  .buttonclass{
    margin: 50px 38px;

  }

.button{
  padding: 15px 30px;
  background-image: linear-gradient(15deg, #363958,#F59660);
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
 text-decoration: none;
}
#secleft{
  width: 40%;
  margin-top: 20px;
  float: left;
  margin-left: 5%;
}
#secleft img{
  height: 80%;
    width: 90%;
}

#secright{
  height: 650px;
  width: 40%;
  float: left;
  margin-top: 20px;
  margin-left: 250px;
}
#secright h1{
  font-size: 80px;
  font-weight: 700;
  font-family: 'Bebas Neue', cursive;
  margin-left: 5%;
  color: #363958;
}

#secright p{
  margin-left: 5%;
    margin-top: -67px;
    font-family: 'Roboto', sans-serif;
}
#thirdleft{
      height: 650px;
      width: 40%;
      float: left;
      margin-top: 20px;
}
#thirdright{
  width: 40%;
  margin-top: 20px;
  float: right; 
}

#thirdleft h1{
  font-size: 80px;
  font-weight: 700;
  font-family: 'Bebas Neue', cursive;
  margin-left: 5%;
  color: #363958;
}
#thirdleft p{
  margin-left: 5%;
    margin-top: -67px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
#thirdright img{
  height: 80%;
    width: 90%;
    border-radius: 60px;
}

.normalhead{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 48px;
  font-weight: 700;
  
}
.showcase{
  width: 20%;
  height: 400px;
  float: left;
  margin: 0px 90px;
  padding: 20px 30px;
  box-shadow: 5px 10px 18px #888888;
  border-bottom: 10px solid black;
  border-image: linear-gradient(15deg, #363958,#F59660);
  border-image-slice: 10%;
  border-radius: 20px;
;
}
.showcase img{
  width: 200px;
  height: 150px;
  padding: 20px;
  margin: 20px;
}

.showcase h3{
  font-family: 'Bebas Neue', cursive;
}
.showcase p{
font-family: 'Roboto', sans-serif;
color: rgb(43, 42, 42);
}
.workquery{
  background-image: url("images/Group_33094_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 60%;
 margin-left: 540px;
  margin-top: 30px;
}
.workquery h2{
  float: left;
  margin-top: 70px;
  margin-left: 20px;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 45px;
}
.newbutton{
  float: left;
  padding: 15px 30px;
  background-image: linear-gradient(15deg, #363958,#F59660);
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
 text-decoration: none;
 margin-top: 70px;
 margin-left: 400px;

}
#footer{
  margin-top: 90px;
  margin-bottom: 40px;
}

#footer h3{
  text-align: center;
  color: #888888;
  font-family: Arial, Helvetica, sans-serif;
}

#footer h1{
  text-align: center;
}
#footer img{
  height: 40px;
  width: 40px;
}

.social{
  width: 7%;
  margin: auto;


}
